@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* principais duvidas */

.accordion-button {
  display: flex; /* Define um layout flexível */
  justify-content: space-between; /* Espaça o texto e o ícone */
  align-items: center; /* Alinha verticalmente ao centro */
}

.accordion-button::after {
  font-size: 1.2rem;
  margin-left: auto; /* Garante que o ícone fique no extremo direito */
}

.accordion-container {
  display: grid;
  grid-template-columns: auto 50rem;
  gap: 3.125rem;
  font-family: "Lexend Deca";
  margin-left: 9.375rem;
  margin-right: 9.375rem;
}

.principais {
  font-family: "Passion One";
  font-size: 1.875rem;
  font-weight: bold;
  margin-top: 6.25rem;
  color: #61350C;
}

.navbar-nav {
  flex-grow: 1; /* Faz com que a lista de navegação ocupe o máximo de espaço disponível */
}

.linha-separadora1 {
  width: 600px;
  border: 2px solid #3d2106;
  margin: 10px 0 20px;
}

.linha-separadora2 {
  width: 600px;
  border: 2px solid black;
  margin: 10px 0 20px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.container2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 30px;
  width: 100%;
  background-color: #DFD9D7;
}

.container3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
  gap: 25px;
}

/* cards */
.card {
  width: 500px;
  height: 377px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.card:hover{
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 65%; /* aproximadamente 245px */
  object-fit: cover;
  display: block;
}

.card-texto {
  height: 35%; /* aproximadamente 132px */
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  text-align: center;
}

.card-texto p {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
}

/* fim dos card */

.container-pai{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secao-motivo {
  color: black;
  width: 100%;
  width: 900px;
  padding: 60px 5px;
  margin-left: 100px;
  text-align: justify;
  font-size: 30px;
}

h2{
  margin-top: 70px;
}

h3{
  font-size: 40px;
}

#imagem1{
    width: 100%;
    display: block;
}

#imagem3{
  width: 800; 
  height: 398px;
}

#retangulo{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 149px;
  background-color: #69502C;
}

/* Rodapé */
footer {
  background-color: #FCF2E8;
  padding: 20px 50px;
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-left {
  max-width: 400px;
  font-size: 12px;
}

.footer-left p {
  font-size: 10px;
}

.footer-logo {
  height: 90px;
  margin-bottom: 10px;
}

.footer-right {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  text-align: center;
}

.footer-column h3 {
  font-weight: 400;
  font-size: 16px;
  color: #535151;
  margin-bottom: 10px;
}

.footer-column a {
  color: #EC9E07;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

.footer-column a:hover {
  text-decoration: underline;
  color: #8B7777;
}

#doeagora { 
  background-color: rgba(226, 204, 174, 1); 
  border-color: rgba(226, 204, 174, 1); 
  color: #4E3629; 
  font-weight: 700; 
  font-family: "Lexend Deca"; 
} 
#doeagora { 
  font-size: 16px; 
  width: 9rem; 
  margin-right: 2rem; 
}

#cadastre { 
  background-color: rgba(226, 204, 174, 1); 
  border-color: rgba(226, 204, 174, 1); 
  color: #4E3629; 
  font-weight: 700; 
  width: 500px;
  font-family: "Lexend Deca"; 
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 120px;

} 

.container4{
  position: relative;
}

p#sub{
  color: black;
  font-size: 20px;
  font-weight: 300; 
}

#retangulo p{
  width: 960px;
  height: 119px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}

#doeagora:hover, .btn-junte:hover, #cadastre:hover { 
  background-color: #caae8d; 
  color: #3d2106; 
  border:1px solid #d8b48bce; 
}

/* Barra de navegação */
#fixado {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 1408px) {
  .container2{
    flex-wrap: wrap;
  }
  .container3{
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 20px 30px;
  }

  .accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 40px 40px;
    gap: 2px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  .footer-left {
    max-width: 100%;
  }

  .copyright {
    margin-bottom: 20px;
  }

  .footer-logo {
    height: 50px;
  }

  .footer-right {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .footer-column {
    min-width: auto;
  }

  .footer-column h3 {
    font-weight: 400;
    font-size: 12px;
    color: #535151;
    margin-bottom: 10px;
  }

  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 10px;
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 1100px) and (min-width: 700px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-left {
    max-width: 250px;
  }

  .footer-logo {
    height: 50px;
    margin-bottom: 10px;
  }

  .footer-column h3 {
    font-size: 12px;
    font-weight: 400;
  }

  .footer-column a {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  footer {
    padding: 20px 40px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-left {
    max-width: 100%;
    font-size: 12px;
  }

  .footer-logo {
    height: 60px;
    margin-bottom: 15px;
  }

  .footer-column h3 {
    font-weight: 400;
    font-size: 14px;
    color: #535151;
    margin-bottom: 10px;
  }

  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .footer-column a:hover {
    text-decoration: underline;
  }

  .copyright {
    margin-top: -20px;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 20px 50px;
    font-family: "Lexend Deca", sans-serif;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }

  .footer-left {
    max-width: 400px;
    font-size: 12px;
  }

  .footer-logo {
    height: 60px;
    margin-bottom: 20px;
  }

  .footer-right {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .footer-column {
    flex: 2;
    min-width: 200px;
    text-align: center;
  }

  .footer-column h3 {
    font-weight: 400;
    font-size: 14px;
    color: #535151;
    margin-bottom: 10px;
  }

  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .footer-column a:hover {
    text-decoration: underline;
  }

  .copyright {
    margin-top: -20px;
  }
}

@media (min-width: 1500px) {
  footer {
    padding: 20px 50px;
    font-family: "Lexend Deca", sans-serif;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }

  .footer-left {
    max-width: 400px;
    font-size: 12px;
  }

  .footer-logo {
    height: 70px;
    margin-bottom: 10px;
  }

  .footer-right {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .footer-column {
    flex: 2;
    min-width: 200px;
    text-align: center;
  }

  .footer-column h3 {
    font-weight: 400;
    font-size: 14px;
    color: #535151;
    margin-bottom: 10px;
  }

  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .footer-column a:hover {
    text-decoration: underline;
  }
}