
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: #F5F5F5;
}

#fixado {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  gap: 0.5rem;
  margin-left: 20px;
}

.menu-lateral {
  justify-content: flex-start;
  text-align: left;
}

.img {
  margin-top: -0.6rem;
  margin-left: 1rem;
}

#dona1,
#doap,
#doain {
  font-size: 14px;
}

#conteudoNavbarSuportado {
  text-align: left;
}

.nav-centralizada {
  gap: 1px;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  margin: 0 5px;
}

#icone {
  border: none;
  outline: none;
}

.btn-brown,
#doeagora {
  background-color: rgba(226, 204, 174, 1);
  border-color: rgba(226, 204, 174, 1);
  color: #4E3629;
  font-weight: 700;
  font-family: "Lexend Deca";
}

#doeagora {
  font-size: 16px;
  width: 9rem;
  margin-right: 2rem;
}

#doeagora:hover {
  background-color: #caae8d;
    color: #3d2106;
    border:1px solid #d8b48bce;
}
#imagem {
  display: flex;
  width: 100%;
  max-height: auto;
}
#imagem2 {
  display: none;
}

#titulo-back {
  font-family: "Lexend Deca";
  font-size: 2.5rem;
  color: #FFFFFF;
  position: absolute;
  margin: -700px auto;
  margin-left: 50%;
  transform: translate(-50%, 900%);
  background-color: rgba(105, 80, 44, 0.527);
  width: 700px;
  height: 50px;
  text-align: center;
}

.botao-inicial {
  display: flex;
  position: absolute;
  margin: -440px auto;
  margin-left: 50%;
  transform: translate(-50%, 900%);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca";
  font-size: 1.4rem;
  background-color: rgb(226, 204, 174);
  color: #61350C;
  width: 350px;
  height: 60px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
}

.botao-inicial:hover {
  background-color: #caae8d;
    color: #3d2106;
    border:1px solid #d8b48bce;
}

.back-container {
  display: flex;
  font-size: 20px;
  margin: -120px auto;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  width: 900px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.back-container span {
  color: rgb(255, 201, 139);
}

.noticias-container {
  display: grid;
  grid-template-columns: 25rem 25rem;
  gap: 15.625rem;
  text-align: justify;
  margin-top: 15rem;
  color: #61350C;
  font-family: "Passion One";
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 9.375rem;
  margin-right: 9.375rem;
  justify-content: center;
}

.noticia1-container,
.noticia2-container {
  display: flex;
  flex-direction: row;
  
}
#noticia1 {
  width: 300px;
  height: 200px;
  margin-left: 150px;
  margin-top: 60px;
  border-radius: 20px;
}

.noticias1-filho {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 150px;
  text-align: justify;
  font-size: 16px;
  font-family: "Lexend Deca";
  line-height: 30px;
}

#noticia2 {
  width: 300px;
  height: 200px;
  margin-right: 150px;
  margin-top: 60px;
  border-radius: 20px;
}

.noticias2-filho {
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 50px;
  text-align: justify;
  font-size: 16px;
  font-family: "Lexend Deca";
  line-height: 30px;
}
p span {
  color: rgb(196, 134, 58);
  font-weight: bold;
}

#principaisf {
  display: flex;
  margin-top: 6.25rem;
  font-family: "Passion One";
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color: #61350C;
}

#ferramentasf2 {
  display: flex;
  margin-top: 1.875rem;
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  color: #535151;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#titulobotao {
  font-size: 0.875rem;
  font-weight: bold;
}

.principal-container {
  display: grid;
  grid-template-columns: 1.25rem 87.5rem;
}

.ferramentas-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}
#ferramenta1,
#ferramenta2,
#ferramenta3,
#ferramenta4 {
  background-color: #CA9B63;
  width: 6.875rem;
  height: 6.875rem;
  border-radius: 1.875rem;
  border: 0.125rem solid #161313;
}

.fa-map {
  font-size: 4.0625rem;
  color: #161313;
  align-items: center;
  padding: 1.0625rem;
}
.fa-hiking {
  font-size: 4.0625rem;
  color: #161313;
  align-items: center;
  padding: 1.125rem;
  text-align: center;
}

.fa-hand-holding-heart {
  font-size: 4.0625rem;
  color: #161313;
  align-items: center;
  padding: 1.125rem;
  text-align: center;
}

.fa-box {
  font-size: 4.0625rem;
  color: #161313;
  text-align: center;
  padding: 1.1875rem;
}
.paragrafo-container {
  display: grid;
  grid-template-columns: auto auto auto 9.375rem;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  font-family: "Lexend Deca";
  font-size: 1rem;
  color: #535151;
}
.mapa1 {
  margin-left: 0.3125rem;
}

.mapa2 {
  margin-left: 0.3125rem;
}
.mapa3 {
  margin-left: 1.2625rem;
}
.mapa4 {
  margin-left: 1.25rem;
  text-align: center;
}

.parte-container {
  display: grid;
  grid-template-columns: 9.375rem 9.375rem 9.375rem 9.375rem;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  font-family: "Lexend Deca";
  font-size: 0.875rem;
}
.texto {
  color: #4E3629;
  font-family: "Lexend Deca";
  font-size: 20px;
  width: 500px;
}

.parte1 {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: #535151;
  font-family: "Lexend Deca";
  text-align: justify;
  width: 9.375rem;
}

.parte2 {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: #535151;
  font-family: "Lexend Deca";
  text-align: justify;
  width: 9.375rem;
}

.parte3 {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: #535151;
  font-family: "Lexend Deca";
  text-align: justify;
  width: 9.375rem;
}

.parte4 {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: #535151;
  font-family: "Lexend Deca";
  text-align: justify;
  width: 9.375rem;
}
.accordion-button {
  display: flex; /* Define um layout flexível */
  justify-content: space-between; /* Espaça o texto e o ícone */
  align-items: center; /* Alinha verticalmente ao centro */
}

.accordion-button::after {
  content: "+"; /* Ícone padrão de mais */
  font-size: 1.2rem;
  margin-left: auto; /* Garante que o ícone fique no extremo direito */
}

.accordion-button:not(.collapsed)::after {
  content: "-"; /* Ícone de menos quando aberto */
}

.accordion-container {
  display: grid;
  grid-template-columns: auto 50rem;
  gap: 3.125rem;
  font-family: "Lexend Deca";
  margin-left: 9.375rem;
  margin-right: 9.375rem;
}

.principais {
  font-family: "Passion One";
  font-size: 1.875rem;
  font-weight: bold;
  margin-top: 6.25rem;
  color: #61350C;
}

footer {
  background-color: #fcf2e8;
  padding: 20px 50px;
  font-family: "Lexend Deca", sans-serif;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}


.footer-left {
  max-width: 400px;
  font-size: 12px;
  height: 180px;
}


.footer-left p {
  font-size: 10px;
}


footer-left img {
  width: 200px;
  height: auto;
}


.copyright {
  margin-top: -30px;
}


.footer-logo {
  margin-bottom: 10px;
}


.footer-right {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}


.footer-column {
  flex: 2;
  min-width: 200px;
  text-align: center;
}


.footer-column h3 {
  font-weight: 400;
  font-size: 14px;
  color: #535151;
  margin-bottom: 10px;
}


.footer-column a {
  color: #EC9E07;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}


.footer-column a:hover {
  text-decoration: underline;
  color: #8B7777;
}


@media (max-width: 768px) {
    footer {
    padding: 20px 30px;
  }


  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }


  .footer-left {
    max-width: 100%;
  }


  .copyright {
    margin-bottom: 20px;
  }


  .footer-logo {
    height: 50px;
  }


  .footer-right {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }


  .footer-column {
    min-width: auto;
  }


  .footer-column h3 {
    font-weight: 400;
    font-size: 12px;
    color: #535151;
    margin-bottom: 10px;
  }


  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 10px;
    display: block;
    margin-bottom: 5px;
  }

}
/*tablet*/

@media (max-width: 1100px) and (min-width: 700px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0px 10px 10px;
  }

  main {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #imagem {
    display: none;
  }
  #imagem2 {
    display: flex;
    width: 100%;
    height: auto;
  }
  .botao-inicial {
    display: flex;
    margin: -470px auto;
    margin-left: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca";
    font-size: 1.3rem;
    background-color: rgb(226, 204, 174);
    color: #61350C;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .botao-inicial:hover {
    background-color: #caae8d;
    color: #3d2106;
    border:1px solid #d8b48bce;
  }

  .back-container {
    display: flex;
    font-size: 16px;
    position: absolute;
    margin: -450px 50%;
    color: #FFFFFF;
    max-width: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  #titulo-back {
    font-family: "Lexend Deca";
    font-size: 1.5rem;
    color: #FFFFFF;
    position: absolute;
    margin: -570px auto;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(105, 80, 44, 0.527);
    justify-content: center;
    height: 40px;
    width: 400px;
    text-align: center;
  }

  .ferramentas-container {
    gap: 20px;
    margin: 40px 70px 70px;
  }
  
  #principaisf {
    margin-top: 70px;
  }
  .principais {
    margin-top: 70px;
  }
  .paragrafo-container {
    display: none;
  }
  #botao {
    width: 200px;
    height: auto;
    font-size: 15px;
  }
  .parte-container {
    display: none;
  }

  .accordion-container {
    display: flex;
    flex-direction: column;
  }

  .noticias-container {
    display: flex;
  
    margin: 110px 70px 70px;
    gap: 4rem;
    text-align: justify;
    justify-content: center;
  
  }

  .accordion-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 40px 40px;
    gap: 2px;
  }

  #doeagora {
    margin-left: 15px;
  }

  .nav-item {
    margin: 0px 20px 0px;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
  .noticia1-container {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
  }
  #noticia1,
  #noticia2 {
    margin: 30px auto;
    width: 550px;
    height: auto;
  }
  .noticias1-filho,
  .noticias2-filho {
    margin: 20px auto;
  }
  .noticia2-container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 70px;
    margin-right: 70px;
  }
}

/*celular*/

@media (max-width: 700px) and (min-width: 100px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0px 5px 5px;
  }
  #doeagora {
    margin-left: 15px;
  }
  .botao-inicial {
    display: flex;
    margin: -380px auto;
    margin-left: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca";
    font-size: 1.2rem;
    background-color: rgb(226, 204, 174);
    color: #61350C;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .botao-inicial:hover {
    background-color: #caae8d;
    color: #3d2106;
    border:1px solid #d8b48bce;
  }

  .back-container {
    display: flex;
    font-size: 12px;
    position: absolute;
    margin: -90px auto;
    margin-left: 50%;
    color: #FFFFFF;
    max-width: 48vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 280px;
  }

  #titulo-back {
    font-family: "Lexend Deca";
    font-size: 1.1rem;
    color: #FFFFFF;
    position: absolute;
    margin: -180px auto;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(105, 80, 44, 0.527);
    justify-content: center;
    height: 30px;
    width: 270px;
    text-align: center;
  }

  .imagens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    grid-template-columns: 10px 10px;
    gap: 2rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  #imagem {
    display: none;
  }
  #imagem2 {
    display: flex;
    width: 100%;
    height: auto;
  }
  main {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .parte-container {
    display: none;
  }

  .accordion-container {
    display: none;
  }

  .noticias-container {
    display: grid;
    grid-template-columns: auto;
    font-size: 20px;
    margin: -30px 50px 50px;
    gap: 3rem;
    text-align: justify;
    justify-content: center;
    margin-top: 5rem;
  }

  .ferramentas-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 35px;
    margin: 0 auto;
    margin-left: 40px;
    margin-right: 40px
  }

  .accordion-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 20px 20px;
    gap: 2px;
    font-size: 12px;
  }

  .paragrafo-container {
    display: none;
  }

  .accordion-body {
    font-size: 14px;
    text-align: justify;
  }

  .principais {
    font-size: 24px;
    margin-top: 40px;
  }

  #principaisf {
    font-size: 24px;
    margin-top: 40px;
  }

  #ferramentasf2 {
    font-size: 14px;
  }
  .nav-item {
    margin: 0px 20px 0px;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
  .noticia1-container {
    display: flex;
    flex-direction: column;
  
  }
  #noticia1,
  #noticia2 {
    margin: 20px auto 20px;
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .noticias1-filho,
  .noticias2-filho {
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .noticia2-container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1000px) {
    .navbar-nav {
      margin-left: 20px;
      margin-right: auto;
    }
  }
 
  @media (max-width: 1024px) {
    .mr-auto {
      border: none;
    }
  }
 
  /* Corrigido para não interferir com o comportamento do Bootstrap */
  @media (max-width: 991px) {
    .navbar-brand {
      margin-right: 0;
      margin: -20px;
    }
   
    .navbar-toggler {
      margin-right: 15px;
    }
   
    /* Remove o alinhamento centralizado em telas menores */
    #conteudoNavbarSuportado {
      text-align: left !important;
  
    }
   
    .navbar-collapse.show .navbar-nav,
    .navbar-collapse.collapsing .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
   
    .nav-centralizada {
      display: block;
      width: 100%;
      text-align: left;
      justify-content: flex-start;
    }
   
    .btn-brown {
      margin: 10px 0;
      justify-content: flex-start;
      display: block;
      margin-right: auto;
    }
   
    /* Garante que os itens de dropdown também fiquem alinhados à esquerda */
    .dropdown-menu {
      text-align: left;
      padding-left: 15px;
    }
  }
 
  @media (max-width: 768px) {
    .btn-brown {
      width: auto;
      padding: 5px 15px;
      font-size: 16px;
    }
   
    .img {
      margin-left: 0;
    }
    .navbar-brand {
      margin-right: 0;
      margin-left: 15px;
    }
  }

@media (min-width: 799px) {


  footer {
    padding: 20px 50px;
    font-family: "Lexend Deca", sans-serif;
  }


  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }


  .footer-left {
    max-width: 280px;
  }


  .footer-left p {
    font-size: 10px;
  }


  .footer-logo {
    height: 50px;
    margin-bottom: 10px;
  }


  .footer-right {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }


  .footer-column {
    flex: 2;
    min-width: 100px;
    text-align: center;
  }


  .footer-column h3 {
    font-weight: 400;
    font-size: 10px;
    color: #535151;
    margin-bottom: 10px;
  }


  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 8px;
    display: block;
    margin-bottom: 5px;
  }


  .footer-column a:hover {
    text-decoration: underline;
  }
}


@media (min-width: 1024px) {


  footer {
    padding: 20px 50px;
    font-family: "Lexend Deca", sans-serif;
  }


  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }


  .footer-left {
    max-width: 400px;
    font-size: 12px;
  }


  .footer-logo {
    height: 60px;
    margin-bottom: 20px;
  }


  .footer-right {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }


  .footer-column {
    flex: 2;
    min-width: 200px;
    text-align: center;
  }


  .footer-column h3 {
    font-weight: 400;
    font-size: 14px;
    color: #535151;
    margin-bottom: 10px;
  }


  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }


  .footer-column a:hover {
    text-decoration: underline;
  }


  .copyright {
    margin-top: -20px;
  }
}


@media (min-width: 1500px) {


  footer {
    padding: 20px 50px;
    font-family: "Lexend Deca", sans-serif;
  }


  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }


  .footer-left {
    max-width: 400px;
    font-size: 12px;
  }


  .footer-logo {
    height: 70px;
    margin-bottom: 10px;
  }


  .footer-right {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }


  .footer-column {
    flex: 2;
    min-width: 200px;
    text-align: center;
  }


  .footer-column h3 {
    font-weight: 400;
    font-size: 14px;
    color: #535151;
    margin-bottom: 10px;
  }


  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }


  .footer-column a:hover {
    text-decoration: underline;
  }
}

