@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");


body {
  display: flex;
  flex-direction: column;
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


/* Classe para quando a sidebar estiver expandida */
.sidebar-expanded .container-fluid {
  padding-left: 180px; /* Ajuste conforme a largura da sua sidebar expandida */
}


/* Garantir que apenas os itens do navbar se movam, não o perfil */
.sidebar-expanded .navbar-nav {
  margin-left: 170px; /* Ajuste conforme necessário */
}


/* Botão de upload e outros elementos à esquerda */
#imgheader {
  transition: margin-left 0.3s ease;
}


.sidebar-expanded #imgheader {
  margin-left: 20px; /* Ajuste conforme necessário */
}


.header.animated {
  animation: slideIn 0.5s ease-in-out;
}


.container-fluid {
  position: relative;
  transition: padding-left 0.3s ease;
}


.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 65px;
  margin-left: 60px;
  position: relative;
}


.navbar {
  background-color: #ffffff;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 56px;
  box-shadow: #b4b4b4 1px 0 3px 0px;
}




.navbar-nav {
  display: flex;
  justify-content: start;
  padding-left: 3rem;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  margin-right: 3rem;
  gap: 3rem;
  font-size: 14px;
}


.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.profile-dropdown {
  position: absolute;
  display: flex;
  align-items: center;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}


.profile-dropdown button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: none;
  font-size: 16px;
  color: black;
}


.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s;
}


.dropdown-item:hover {
  background-color: #e0e0e0;
  border-radius: 6px;
}


.dropdown-item i {
  margin-right: 10px;
  font-size: 16px;
}


.profile-dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #CCC;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background: #ECECEC;
  border: none;
  padding: 10px;
}


.profile-dropdown:hover .dropdown-menu {
  display: block;
}


#imgheader {
  background-color: #D3D3D3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 220px;
  z-index: 800;
}


.upload-btn input {
  display: none;
}


.profile-dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #CCC;
  display: none;
}


#userIcon {
  font-size: 40px;
  color: #CCC;
  display: inline;
}


.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 60px;
  background-color: #ECECEC;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 700;
  margin-top: 0;
  top: 0px;
  border-radius: 6px;
}


.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 650;
}


.sidebar:hover {
  width: 230px;
}


.sidebar nav a {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 15px;
  text-decoration: none;
  white-space: nowrap;
}


.sidebar nav a i {
  font-size: 1.2rem;
  margin-right: 20px;
}


.sidebar nav a span {
  display: none;
}


.sidebar:hover nav a span {
  display: inline;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}


main {
  flex: 1;
  min-height: 200px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}


#main {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}


#caixa-principal,
#caixa-principal2 {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  background-color: #FFFFFF;
  width: 500px;
  height: 20rem;
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


#instagramgeral,
#facebookgeral {
  display: flex;
  flex-direction: column;
}


#botao,
#facebook {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #EC9E07;
}


#botao:hover {
  text-decoration: underline;
  color: #8B7777;
}


#facebook:hover {
  text-decoration: underline;
  color: #8B7777;
}


.botao-sair {
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
}


#texto-caixa,
#texto-caixa2,
#texto-caixa3,
#texto-caixa4 {
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 2px;
  text-align: start;
  margin-left: 35px;
}


#texto-caixa3,
#texto-caixa4 {
  font-size: 14px;
  color: #817F7F;
}


#botaocaixa,
#botaocaixa2 {
  display: flex;
  margin-top: 2rem;
  background-color: rgba(226, 204, 174, 1);
  font-size: 14px;
  border-radius: 15px;
  width: 130px;
  height: 35px;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}


#confirmar,
#confirmar2 {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}


#instagram,
#facebook2 {
  width: 430px;
  height: 45px;
  border-radius: 15px;
  border: #535151 solid 1.5px;
  margin-top: 0.5rem;
  outline: none;
  padding: 0px 0px 0px 15px;
  margin-left: 35px;
}


#instagram::placeholder {
  font-size: 14px;
}


#facebook2::placeholder {
  font-size: 14px;
}


#editarLink,
#editarLink2 {
  margin-top: 2rem;
  background-color: rgba(226, 204, 174, 1);
  font-size: 14px;
  border-radius: 15px;
  width: 130px;
  height: 35px;
  justify-self: center;
  align-self: center;
  text-align: center;
  border: none;
}


/* Footer corrigido */
footer {
  background-color: #FCF2E8;
  padding: 20px 50px;
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
 ;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}


.footer-left {
  max-width: 400px;
  font-size: 12px;
}


.footer-left p {
  font-size: 10px;
}


.footer-logo {
  height: 90px;
  margin-bottom: 10px;
}


.footer-right {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}


.footer-column {
  display: flex;
  flex: 2;
  flex-direction: column;
  min-width: 200px;
  text-align: center;
}


.footer-column h3 {
  font-weight: 400;
  font-size: 16px;
  color: #535151;
  margin-bottom: 10px;
}


.footer-column a:hover {
  color: #8B7777;
}


.footer-column a {
  color: #EC9E07;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}


.footer-column a:hover {
  text-decoration: underline;
}


#imgfooter {
  background-color: #D3D3D3;
  border: none;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin-bottom: 20px;
}


#btnn {
  width: 7.5rem;
  display: inline-block;
}


#btnn2 {
  width: 180px;
  padding: 10px;
  display: inline-block;
  align-items: center;
}


i {
  font-size: 23px;
}
#dropzinho {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background: #ECECEC;
  border: none;
  border-radius: 8px;
  padding: 10px;
  min-width: 150px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.bi-person {
  font-size: 1.1rem;
}


.bi-box-arrow-right {
  font-size: 1.1rem;
}


@media (max-width: 1023px) {


  .sidebar-expanded #imgheader {
    margin-left: 0 !important;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 800;
    position: relative;
  }
 
  #imgheader {
    transition: all 0.3s ease;
    z-index: 800;
    position: relative;
  }
 
  .sidebar-expanded .container-fluid {
    padding-left: 0 !important;
  }


  #navbarNav {
    background-color: #ffffff;
   
    box-shadow: #b4b4b4 1px 0 3px 0px;
   
    border-radius: 15px;
    margin-top: 0.4rem;
    padding: 15px;
    width: 100%;
  }
 
  #abcd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    gap: 5px;
  }
 
  .nav-item {
    width: 100%;
  }
 
  .nav-link {
    padding: 8px 0;
    display: block;
  }
 
  .profile-dropdown {
    position: relative;
    width: 100%;
    right: auto;
    top: auto;
    transform: none;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
  }
 
  .profile-dropdown button {
    width: 100%;
    text-align: left;
    padding: 8px 0;
  }
 
  #dropzinho {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: #ECECEC;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-top: 60px;
  }


  .profile-dropdown:hover #dropzinho,
  .profile-dropdown:focus-within #dropzinho {
    display: block;
  }
 
  .dropdown-item {
    padding: 8px 10px;
  }


    .perfill{
        display: flex;
        flex-direction: column;
    }


    .header {
    animation: none;
  }


.navbar-collapse {
  transition: 0;
}


 
  .sidebar-expanded .container-fluid,
  .sidebar-expanded .navbar-nav,
  .sidebar-expanded #imgheader {
    margin-left: 0;
    padding-left: 0;
  }


  .bi-list {
    display: none;
  }


  .sidebar nav a span {
    display: inline;
  }


  .navbar-nav {
    gap: 0;
  }


  .page-content {
    margin-left: 0;
  }


  #usuario {
    font-size: 14px;
    text-decoration: none;
  }


  #usuario:hover {
    color: black;
  }




  #icone {
    border: none;
  }


  #icone2 {
    border: none;
    outline: none !important;
  }


  #icone:focus,
  #icone2:focus {
    outline: none;
    box-shadow: none;
  }


  #imgheader {
    display: block;
    margin: 0 auto;
    width: 130px;
  }


  .sidebar {
    top: 0;
    left: -230px;
    transition: left 0.3s ease;
    width: 230px;
    height: 100vh;
  }


  .sidebar.open {
    left: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    height: 100vh;
  }


  .navbar {
    background-color: #ffffff;
    box-shadow: #b4b4b4 1px 0 3px 0px;
    padding-left: 0.00001rem;
    padding-right: 0.00001rem;
    height: 50px;
  }


  span {
    font-size: 14px;
  }


  #caixa-principal,
  #caixa-principal2 {
    width: 320px;
    height: 22rem;
    border-radius: 30px;
  }


  #instagram,
  #facebook2 {
    width: 250px;
    height: 40px;
    margin-left: 35px;
  }


  #texto-caixa,
  #texto-caixa2,
  #texto-caixa3,
  #texto-caixa4 {
    font-size: 16px;
  }


  #texto-caixa3,
  #texto-caixa4 {
    font-size: 12px;
  }


  .dropdown-menu {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    display: none;
    background: #ECECEC;
    border: none;
    border-radius: 8px;
    padding: 10px;
    min-width: 150px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}


@media (min-width: 769px) and (max-width: 1023px) {
 
  footer {
    padding: 20px 40px;
  }
 
  .footer-container {
    gap: 30px;
  }
 
  .footer-left {
    max-width: 250px;
  }


  .footer-left p {
    font-size: 10px;
  }
 
  .footer-right {
    gap: 10px;
  }
 
  .footer-column {
    min-width: 150px;
  }
 
  .footer-column h3 {
    font-size: 10px;
  }
 
  .footer-column a {
    font-size: 8px;
  }
 
  #botao, #facebook {
    font-size: 8px;
  }


  #caixa-principal, #caixa-principal2 {
    width: 400px;
    height: 20rem;
  }
 
  #instagram, #facebook2 {
    width: 330px;
  }
}


@media (max-width: 768px){


  .sidebar{
    height: 100% !important;
    position: fixed;
    top: 0;
    left: -230px;
    transition: left 0.3s ease;
    width: 230px;
    z-index: 700;
  }


  #btnn2 {
    width: 190px;
    padding: 10px;
    display: inline-block;
    align-items: center;
  }


  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .footer-left {
    max-width: 100%;
  }


  .footer-logo {
    height: 70px;
  }


  .footer-right {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }


  .footer-column {
    min-width: auto;
  }


  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }


  footer {
    margin-left: 0;
    width: 100%;
    padding: 20px 30px;
    z-index: 500;
  }


  .footer-column h3 {
    font-weight: 400;
    font-size: 12px;
    color: #535151;
    margin-bottom: 10px;
  }


  .footer-column a:hover {
    color: #8B7777;
  }


  .footer-column a {
    text-decoration: none;
    font-size: 10px;
    display: block;
    margin-bottom: 5px;
  }


  #botao,
  #facebook {
    border: none;
    background-color: transparent;
    font-size: 10px;
    color: #EC9E07;
  }


}


@media (min-width: 1024px) {
  #btnn2 {
    width: 210px;
    padding: 10px;
    display: inline-block;
    align-items: center;
  }


  #botao,
  #facebook {
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: #EC9E07;
  }


  #imgfooter {
    background-color: #D3D3D3;
    border: none;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    width: 220px;
    margin-bottom: 20px;
  }


  footer {
    padding: 20px 50px;
    font-family: "Lexend Deca", sans-serif;
  }


  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }


  .footer-left {
    max-width: 400px;
    font-size: 12px;
  }


  .footer-logo {
    height: 60px;
    margin-bottom: 20px;
  }


  .footer-right {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }


  .footer-column {
    flex: 2;
    min-width: 200px;
    text-align: center;
  }


  .footer-column h3 {
    font-weight: 400;
    font-size: 14px;
    color: #535151;
    margin-bottom: 10px;
  }


  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }


  .footer-column a:hover {
    text-decoration: underline;
  }
}


@media (min-width: 1500px) {
  #btnn2 {
    background-color: transparent;
    width: 210px;
    padding: 10px;
    display: inline-block;
    align-items: center;
  }


  #botao,
  #facebook {
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: #EC9E07;
  }


  #imgfooter {
    background-color: #D3D3D3;
    border: none;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    width: 220px;
    margin-bottom: 20px;
  }


  footer {
    padding: 20px 50px;
    font-family: "Lexend Deca", sans-serif;
  }


  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }


  .footer-left {
    max-width: 400px;
    font-size: 12px;
  }


  .footer-logo {
    height: 70px;
    margin-bottom: 10px;
  }


  .footer-right {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }


  .footer-column {
    flex: 2;
    min-width: 200px;
    text-align: center;
  }


  .footer-column h3 {
    font-weight: 400;
    font-size: 14px;
    color: #535151;
    margin-bottom: 10px;
  }


  .footer-column a {
    color: #EC9E07;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }


  .footer-column a:hover {
    text-decoration: underline;
  }
}
