@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
:root{
    --corfundo: #F5F5F5;
    --corfundo-footer: #fcf2e8;
    --corbotao1: #e2ccae;
    --corbotao2: #caae8d;
    --cortitulo: #4E3629;
    --cortexto: #535151;
    --corlink: #EC9E07;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--corfundo);
    align-content: space-between;
}
/*
------------------------ Header Area ------------------------
*/
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    gap: 0.5rem;
    margin-left: 20px;
}
.img {
    margin-top: -0.6rem;
    margin-left: 1rem;
} 
#doeagora {
    background-color: var(--corbotao1);
    border-color: var(--corbotao1);
    color: var(--cortitulo);
    font-weight: 700;
    font-size: 16px;
    width: 10rem;
    margin-right: 2rem;
}
#doeagora:hover {
    background-color: var(--corbotao2);
    border:1px solid var(--corbotao2);
}
/*
------------------------ Main Area ------------------------
*/
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 0rem 7rem 0rem;
    gap: 2rem;
}
main h2{
    font-family: "Passion One";
    color: var(--cortitulo);
    text-align: center;
}
.pagamento-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 2.3rem;
}
.asd{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
#comprar{
    background-color: var(--corbotao1);
    border: 1px solid var(--corbotao1);
    color: var(--cortitulo);
    font-weight: 700;
    font-size: 16px;
    width: 16rem;
    height: 3rem;
    border-radius: 10px;
}
#comprar:hover{
    background-color: var(--corbotao2);
    border:1px solid var(--corbotao2);
}
.detalhes-container{
    display: flex;
    width: 50rem;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2rem 2rem 3rem 2rem;
    gap: 1.5rem;
}
.detalhes-container .titulo{
    border-bottom: 1px solid #B7B6B6;
    padding-bottom: 1rem;
}
.informações{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}
.detalhe-column{
    font-size: 16px;
}
.detalhe-column #nomeong, #emailong, #telong{
    color: #B7B6B6;
}

.pedido{
    width: 30rem;
    display: flex;
    flex-direction: column;
    background-color: var(--corfundo-footer);
    border-radius: 20px;
    padding: 2rem;
    gap: 1.5rem;
    justify-content: space-between;
}
.pedido .titulo{
    border-bottom: 1px solid #B7B6B6;
    padding-bottom: 1rem;
}
.valor{
    display: flex;
    justify-content: space-between;
}
.botaocomprar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.escolher-pagamento{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}
#numerocartao{
    width: 100%;
    height: auto;
    border: 1px solid #B7B6B6;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#numerocartao:focus{
    outline: none;
}
#cvv{
    width: 340px;
    height: auto;
    border: 1px solid #B7B6B6;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
}
#cvv:focus{
    outline: none;
}
#mes{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 170px;
    height: auto;
    border: 1px solid #B7B6B6;
    padding: 10px 15px 10px 15px;
    border-radius: 50px 0px 0px 50px;
    color: #757575;
}
#ano{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 170px;
    height: auto;
    border: 1px solid #B7B6B6;
    padding: 10px 15px 10px 15px;
    border-radius: 0px 50px 50px 0px;
    color: #757575;
}
#mes:focus, 
#ano:focus{
    box-shadow: none;
    outline: none;
}
#mes option:not(:first-child){
    color: black;
}
#ano option:not(:first-child){
    color: black;
}

.form-pagamento{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.informaçoes-pagamento{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cvvlabel, #datalabel, #numerocartaolabel{
    line-height: 45px;
    margin-left: 15px;
}
/*
------------------------ Footer Area ------------------------
*/
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--corfundo-footer);
    gap: 40px;
    padding: 20px 50px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 100%;
    gap: 10px;
}
#footer-logo{
    width: 200px;
    height: auto;
}
.footer-left p{
    font-size: 10px;
    color: var(--cortexto);
}
.footer-right{
    display: flex;
    height: 100%;
}
.footer-column {
    flex: 2;
    min-width: 200px;
    text-align: center;
}
.footer-right h3{
    font-weight: 400;
    font-size: 14px;
    color: var(--cortexto);
}
.footer-right a{
    color: var(--corlink);
    text-decoration: none;
    font-size: 12px;
    display: block;
}
